<!doctype html>
<html class="no-js" lang="en">
 <head>
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Modern Man's Manual | <%=@name%></title>   
</head>
<body>
<center>table of contents</center>
<center><%="*"*rand(1000)%></center></body></html></br></br></br>
<%@contents.each_with_index do |(key,value), index|%>
<a href=<%=key%>><%= key%><%='*'*rand(100)%><%= value%></a><br><br><br>
<%end%>
</body>
</html>