<!doctype html>
<html class="no-js" lang="en">
 <head>
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" href="css/poetry.css" />
    <title>Modern Man's Manual | <%=@name%></title>   
</head>
<body>

<%=@source%>

<div id='links'>
<%=page_sections_drop%>
</div>

<div id="letter_text">
<center><div class="hi"><div class="cornsilk"><%=@name.upcase%></div></div></br></center>
<div class="cornsilk">
<center><h3><%=@content.split(" ")[rand(0..100)].upcase%></h3></center>
<center><%=@content.capitalize! %><br><i>-<%=@author%></i></center><br><br>
</div>
</body>
</html>