<%= erb :head %>

<div id="letter_text">
<center><div class="hi"><div class="cornsilk"><%=@name.upcase%></div></div></br></center>
<div class="cornsilk">
<center><h3><%=@content.split(" ")[rand(0..100)].upcase%></h3></center>
<center><%=@content.capitalize! %><br><i>-<%=@author%></i></center><br><br>
</div>
</body>
</html>