<!doctype html>
<html class="no-js" lang="en">
 <head>
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" href="css/art.css" />
    <title>Modern Man's Manual | <%=@name%></title>   
</head>
<body>
<%=@source%>

<div id='links'>
<%=page_sections_drop%>
</div>
<div id="letter_text">
<center><div class="hi"><div class="cornsilk"><h2><%=@name.upcase%></div></div></br></center>
<div class="cornsilk" style="height:100%; width:100%">
<center><img src=<%=@content[0]%> height="200" width="200"><%=@content[1]%></center>
</div>
</div>
</body>
</html>