<!doctype html>
<html class="no-js" lang="en">
 <head>
     <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/art.css" />
    <title>Modern Man Manual | <%=@name%></title>   
</head>
<body>

<%=@source%>
<div id='links'>
<%=page_sections_drop%>
</div>

<div id="letter_text">
<center><div class="hi"><div class="cornsilk"><%=@name.upcase%></div>
	

<script src="javascripts/synth.js"></script>

<script language = "javascript">
 function getRandomArbitrary(min, max) 
  {
    return Math.random() * (max - min) + min;
  }

 for ( var i =0; i < 6; i++)
{
   cynthia_cizer(getRandomArbitrary(1, 1000), getRandomArbitrary(0,3), "<%=@content%>"); 
} 
</script>
	</body>
	
</html>